{% extends 'base.html' %}

{% block title %}Request Header Parser Microservice{% endblock %}

{% block content %}
<div class="container">
    <div class="header">
        <h1>API: Request Header Parser Microservice</h1>
    </div>
    <blockquote>
        User stories:
        <ol>
            <li>I can get the IP address, language and operating system for my browser.</li>

        </ol>
    </blockquote>
    <p>
        <h3>Example usage:</h3>
        <code>http://localhost:8000/api/whoami/</code> <br/>

    </p>
</div>
{% endblock %}